<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card text-center" style="width: 13rem">
                <img src="../../../assets/images/teams/boca.png">
                <div class="card-body">
                    <h5 class="card-title">Boca Juniors</h5>
                    <button type="button" class="btn btn-outline-success btn-sm">Leer más</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-center" style="width: 13rem">
                <img src="../../../assets/images/teams/river.png">
                <div class="card-body">
                    <h5 class="card-title">River Plate</h5>
                    <button type="button" class="btn btn-outline-success btn-sm">Leer más</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-center" style="width: 13rem">
                <img src="../../../assets/images/teams/independiente.png">
                <div class="card-body">
                    <h5 class="card-title">Independiente</h5>
                    <button type="button" class="btn btn-outline-success btn-sm">Leer más</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-center" style="width: 13rem">
                <img src="../../../assets/images/teams/racing.png">
                <div class="card-body">
                    <h5 class="card-title">Racing</h5>
                    <button type="button" class="btn btn-outline-success btn-sm">Leer más</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-center" style="width: 13rem">
                <img src="../../../assets/images/teams/gimnasia.png">
                <div class="card-body">
                    <h5 class="card-title">Gimnasia La Plata</h5>
                    <button type="button" class="btn btn-outline-success btn-sm">Leer más</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-center" style="width: 13rem">
                <img src="../../../assets/images/teams/estudiantes.png">
                <div class="card-body">
                    <h5 class="card-title">Estudiantes de La Plata</h5>
                    <button type="button" class="btn btn-outline-success btn-sm">Leer más</button>
                </div>
            </div>
        </div>
    </div>
</div>
